<template>
  <v-container>
    <v-row align="center" justify="center" class="mt-5">
      <div class="text-h2 text-center ">
        A little more about us
      </div>
    </v-row>
    <v-row align="center" justify="center" class="mt-5">
      <div class="text-h6 text-center ">
        TEAM : Coding In Spacesuits
      </div>
    </v-row>
    <v-row align="center" justify="center" class="mt-1">
      <div class="text-h6 text-center ">
        MEMBERS : Jérémy FAGGION | Lucas GEOFFROY | Olivier BROUTIER | Louis
        CELERIER
      </div>
    </v-row>
    <v-row align="center" justify="center" class="mt-10">
      <div class="text-body-1 text-center ">
        This project has been developed to answer the challenge
        <a
          href="https://2020.spaceappschallenge.org/challenges/sustain/sustaining-our-planet-future-generations/details"
          target="_blank"
          >"Sustaining our planet for future generations"</a
        >
        in the context of the 2020 Space Apps Challenge, a global Hackathon
        hosted by the
        <a href="https://www.nasa.gov/" target="_blank">NASA</a> ! Using various
        scientific ressources and going through existing solutions adressing
        environmental issues, we felt the need for a more engaging solution for
        the <b>younger generations</b>.
      </div>
    </v-row>
    <v-row align="center" justify="center" class="mt-10">
      <div class="text-body-1 text-center ">
        We came up with this user-friendly website, an online app available on
        mobile, tablets and PCs. Even though it still is a <b>prototype</b>, its
        ultimate objective is to allow its users to witness the
        <b>scarcity of life</b> in the Universe by going through the process of
        planet creation. Once they have redeemed their planet, each user can
        compare their planet with the ones of their friends, and learn a little
        more about the <b>immense diversity</b> of space. Each planet is unique
        and contains life, so everyone should be proud of being its guardian !
      </div>
    </v-row>
    <v-row align="center" justify="center" class="mt-10">
      <div class="text-h6 text-center ">
        Our main sources of inspiration
      </div>
    </v-row>
    <v-row align="center" justify="center" class="mt-5">
      <div class="text-body-1 text-center ">
        <a href="https://solarsystem.nasa.gov/planet-compare/" target="_blank"
          >NASA's solar system website</a
        >
      </div>
    </v-row>
    <v-row align="center" justify="center" class="mt-5">
      <div class="text-body-1 text-center ">
        <a
          href="https://earthdata.nasa.gov/earth-observation-data/near-real-time/hazards-and-disasters/air-quality"
          target="_blank"
          >NASA's air-quality data</a
        >
      </div>
    </v-row>
    <v-row align="center" justify="center" class="mt-5">
      <div class="text-body-1 text-center ">
        <a href="https://www.cryptokitties.co/" target="_blank"
          >Cryptokitties' website</a
        >
      </div>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "About"
};
</script>

<style scoped>
</style>