<template>
  <v-container>
      <p>You are claiming</p>
  </v-container>
</template>

<script>
import axios from "axios";

export default {
  name: "Claim",
  beforeMount() {
    var token = this.$route.query.token;
    axios.put(process.env.VUE_APP_API_URL + '/session/claim', {
      token: token
    }).then(response => {
      this.$router.push({name: 'Planet', params: {id: response.data.id}});
    }).catch(() => {
      this.$router.push({name: 'Home', params: {error: true}});
    });
  }
}
</script>

<style scoped>

</style>
