<template>
  <v-container>
    <v-stepper v-model="e1">
      <v-stepper-header>
        <v-stepper-step :complete="e1 > 1" step="1">
          ME
        </v-stepper-step>

        <v-divider></v-divider>

        <v-stepper-step :complete="e1 > 2" step="2">
          ENERGY
        </v-stepper-step>

        <v-divider></v-divider>

        <!-- <v-stepper-step :complete="e1 > 3" step="3">
          SPACE STUFF
        </v-stepper-step>

        <v-divider></v-divider> -->

        <v-stepper-step :complete="e1 > 3" step="3">
          LIFE IS ODD
        </v-stepper-step>

        <v-divider></v-divider>

        <v-stepper-step :complete="e1 > 4" step="4">
          CLAIM YOUR PLANET
        </v-stepper-step>
      </v-stepper-header>

      <v-stepper-items>
        <v-stepper-content step="1">
          <StepEmail
            @emailvalidation="validateStep1"
            @emailaddress="storeEmailAdress"
          />
          <v-btn color="primary" @click="e1 = 2" :disabled="!step1IsValid">
            Next
          </v-btn>

          <v-btn text @click="cancel">
            Cancel
          </v-btn>
        </v-stepper-content>

        <v-stepper-content step="2">
          <StepSun />
          <v-btn color="primary" @click="e1 = 3" :disabled="!step2IsValid">
            Next
          </v-btn>

          <v-btn text @click="cancel">
            Cancel
          </v-btn>
        </v-stepper-content>

        <!-- <v-stepper-content step="3">
          <StepPlanet @planetvalidation="validateStep3" />
          <v-btn color="primary" @click="e1 = 4" :disabled="!step3IsValid">
            Next
          </v-btn>

          <v-btn text>
            Cancel
          </v-btn>
        </v-stepper-content> -->

        <v-stepper-content step="3">
          <StepLife @lifevalidation="validateStep3" />
          <v-btn color="primary" @click="e1 = 4" :disabled="!step3IsValid">
            Next
          </v-btn>

          <v-btn text @click="cancel">
            Cancel
          </v-btn>
        </v-stepper-content>
        <v-stepper-content step="4">
          <StepClaim :email="emailAdress" />
        </v-stepper-content>
      </v-stepper-items>
    </v-stepper>
  </v-container>
</template>

<script>
import StepEmail from "@/components/StepEmail";
import StepSun from "@/components/StepSun";
// import StepPlanet from "@/components/StepPlanet";
import StepLife from "@/components/StepLife";
import StepClaim from "@/components/StepClaim";

export default {
  name: "Create",
  components: { StepEmail, StepSun, StepLife, StepClaim },

  data: () => ({
    emailAdress: "",
    e1: 1,
    step1IsValid: false,
    step2IsValid: true,
    step3IsValid: false,
    step4IsValid: true
  }),

  methods: {
    validateStep1(boolean) {
      this.step1IsValid = boolean;
    },
    validateStep3(boolean) {
      this.step3IsValid = boolean;
    },
    storeEmailAdress(str) {
      this.emailAdress = str;
    },
    cancel() {
      this.e1 = 1;
      this.emailAdress = "";
      this.step1IsValid = false;
      this.step2IsValid = true;
      this.step3IsValid = false;
      this.step4IsValid = true;
    }
  }
};
</script>

<style scoped>
</style>