<template>
  <v-container>
    <v-row align="center" justify="center" class="my-5">
      <div class="text-h2 text-center ">
        Don't have your own planet yet ?
      </div>
    </v-row>
    <v-row align="center" justify="center" class="mt-10 mb-15">
      <router-link to="/create">
        <v-btn color="primary" elevation="2" large x-large
          >Create your planet</v-btn
        ></router-link
      >
    </v-row>
    <search></search>
    <v-snackbar v-model="snackbar" :timeout="2500">
      {{ snacktext }}

      <template v-slot:action="{ attrs }">
        <v-btn color="blue" text v-bind="attrs" @click="snackbar = false">
          Close
        </v-btn>
      </template>
    </v-snackbar>
  </v-container>
</template>

<script>
import Search from "@/components/Search.vue";

export default {
  name: "Home",
  components: {
    Search
  },
  beforeMount() {
    this.snackbar = this.$route.params.error ? this.$route.params.error : false;
  },
  data: () => ({
    snackbar: false,
    snacktext: "There was an error claiming your planet",
  }),
};
</script>

<style scoped>
</style>