<template>
  <v-container class="reset-marges" v-if="data">
    <v-row class="reset-marges">
      <v-col
        id="planet"
        class="col-12 col-lg-8 d-flex justify-center align-center"
      >
        <h1>{{ data.name }}</h1>
        <svg
          v-if="data !== null"
          width="500"
          height="500"
          viewBox="0 0 500 500"
        >
          <Moon
            :land-type="data.moon_land_type"
            :color="data.moon_color"
            :angle="data.moon_angle"
          />
          <PlanetComponent
            :ocean-color="data.ocean_color"
            :land-type="data.land_type"
            :land-color="data.land_color"
            :land-angle="data.land_angle"
            :clouds-type="data.clouds_type"
            :clouds-opacity="0.5"
            :clouds-angle="data.clouds_angle"
          />
        </svg>
      </v-col>
      <v-col class="col-12 col-lg-4" id="planet-infos">
        <v-col id="planet-infos-card">
          <h1>Caracteristics</h1>
          <ul>
            <li>
              <p class="key">Age</p>
              <p class="value">
                {{ data.age }} <span class="unit">years</span>
              </p>
            </li>
            <li v-if="data.temperature">
              <p class="key">Temperature</p>
              <p class="value">
                {{ data.temperature.toFixed(2) }} <span class="unit">°C</span>
              </p>
            </li>
            <li v-if="data.mass">
              <p class="key">Mass</p>
              <p class="value">
                {{ data.mass.toFixed(2) }} x 10^{{ data.mass_power }}
                <span class="unit">kg</span>
              </p>
            </li>
            <li v-if="data.duration_of_year">
              <p class="key">Orbital period</p>
              <p class="value">
                {{ data.duration_of_year.toFixed(2) }}
                <span class="unit">days</span>
              </p>
            </li>
            <li>
              <p class="key">Circumference</p>
              <p class="value">
                {{ data.circumference }} <span class="unit">km</span>
              </p>
            </li>
          </ul>
        </v-col>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import axios from "axios";
import Moon from "@/components/Moon";
import PlanetComponent from "@/components/PlanetComponent";

export default {
  name: "Planet",
  components: { PlanetComponent, Moon },

  data: () => ({
    id: "",
    data: null
  }),

  methods: {
    created() {
      this.id = this.$route.params.id;
      axios
        .get(process.env.VUE_APP_API_URL + "session/planet?id=" + this.id)
        .then(response => {
          this.data = response.data;
        })
        .catch(e => {
          console.warn(e);
          this.$router.push({ name: "Home" });
        });
    }
  },

  beforeMount() {
    this.created();
  },

  watch: {
    $route() {
      this.id = this.$route.params.id;
    }
  }
};
</script>

<style>
#planet,
#planet-infos {
  background-color: #323247;
  position: relative;
}

#planet h1 {
  color: white;
  display: block;
  position: absolute;
  bottom: 3rem;
  margin: auto;
  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-size: 55px;
}

#planet-infos {
  padding: 3rem 4rem;
  display: flex;
  justify-content: center;
}

#planet-infos #planet-infos-card {
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 1);
  height: fit-content;
  padding: 1rem 2rem 1.5rem 2rem;
}

#planet-infos #planet-infos-card h1 {
  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-size: 45px;
}

#planet-infos #planet-infos-card ul {
  list-style: none;
  padding: 0 1rem;
}

#planet-infos #planet-infos-card li {
  margin-bottom: 1rem;
}

#planet-infos #planet-infos-card li .key {
  font-size: 1.6rem;
  margin-bottom: 0;
}

#planet-infos #planet-infos-card li .value {
  color: rgb(2, 117, 177);
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 1.1rem;
}

#planet-infos #planet-infos-card li .value .unit {
  color: black;
}

.reset-marges,
.container--fluid {
  padding: 0 !important;
  margin: 0 !important;
  min-height: calc(100vh - 64px);
  width: 100vw;
}
</style>
