<template>
  <svg width="130" height="130">
    <PlanetBase :color="lightenedColor" />
    <MoonLand :type="landType" :color="color" :angle="angle" />
  </svg>
</template>

<script>
import PlanetBase from "@/components/PlanetBase";
import MoonLand from "@/components/MoonLand";
export default {
  name: "Moon",
  components: {MoonLand, PlanetBase},
  data() {
    return {
      lightenedColor: 'white'
    }
  },
  beforeMount() {
    this.lightenedColor = this.lightenDarkenColor(this.color, 50);
  },
  props: ['landType', 'color', 'angle'],
  methods: {
    lightenDarkenColor: function(col, amt) {
      var usePound = false;

      if (col[0] == "#") {
        col = col.slice(1);
        usePound = true;
      }

      var num = parseInt(col,16);

      var r = (num >> 16) + amt;

      if (r > 255) r = 255;
      else if  (r < 0) r = 0;

      var b = ((num >> 8) & 0x00FF) + amt;

      if (b > 255) b = 255;
      else if  (b < 0) b = 0;

      var g = (num & 0x0000FF) + amt;

      if (g > 255) g = 255;
      else if (g < 0) g = 0;

      return (usePound?"#":"") + (g | (b << 8) | (r << 16)).toString(16);
    }
  }
}
</script>

<style scoped>

</style>