<template>
  <svg viewBox="0 0 200 200">
    <PlanetBase :color="oceanColor" />
    <PlanetLand :type="landType" :color="landColor" :angle="landAngle" />
    <PlanetClouds :type="cloudsType" :opacity="cloudsOpacity" :angle="cloudsAngle" />
  </svg>
</template>

<script>
import PlanetBase from "@/components/PlanetBase";
import PlanetLand from "@/components/PlanetLand";
import PlanetClouds from "@/components/PlanetClouds";
export default {
  name: "PlanetComponent",
  components: {PlanetClouds, PlanetLand, PlanetBase},
  props: ['oceanColor', 'landType', 'landColor', 'landAngle', 'cloudsType', 'cloudsOpacity', 'cloudsAngle']
}
</script>

<style scoped>

</style>