<template>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200"><g data-name="Layer 2"><g data-name="Layer 1"><rect data-name="transparent square" fill="none" width="200" height="200"/><circle :fill="color" cx="100" cy="100" r="100"/></g></g></svg>
</template>

<script>
export default {
  name: "PlanetBase",
  props: ['color']
}
</script>

<style scoped>

</style>