<template>
  <v-container>
    <v-row align="center" justify="center" class="my-5">
      <div class="text-h2 text-center ">
        Want to find your friends ?
      </div>
    </v-row>

    <v-row>
      <v-text-field
        v-model="search"
        label="Search for a planet 🪐"
        outlined
        append-icon="mdi-magnify"
        @keyup.enter="submit"
      ></v-text-field>
    </v-row>
    <v-item-group active-class="primary">
      <v-container>
        <v-row>
          <v-col v-for="(planet, i) in planets" :key="i" cols="12" md="4">
            <v-item v-slot:default="{ toggle }">
              <v-card
                class="d-flex align-center"
                dark
                height="200"
                @click="toggle, openPlanet(planet.id)"
              >
                <v-scroll-y-transition>
                  <div
                    class="text-h6 flex-grow-1 text-center text-truncate mx-1"
                  >
                    {{ planet.name }}
                  </div>
                </v-scroll-y-transition>
              </v-card>
            </v-item>
          </v-col>
        </v-row>
      </v-container>
    </v-item-group>
  </v-container>
</template>

<script>
import axios from "axios";

export default {
  name: "search",
  data: () => ({
    search: "",
    planets: []
  }),

  methods: {
    submit() {
      const search = this.search;
      if (search === "") {
        this.fetchRandomPlanets(9);
      } else {
        axios
          .get(process.env.VUE_APP_API_URL + "session/planets?value=" + search)
          .then(response => {
            this.planets = response.data.planets;
          });
      }
    },

    fetchRandomPlanets(qty) {
      axios
        .get(
          process.env.VUE_APP_API_URL + "session/planet/random?amount=" + qty
        )
        .then(response => {
          this.planets = response.data.planets;
        });
    },

    openPlanet(id) {
      // window.open("session/planet?id=" + id);
      this.$router.push({ name: "Planet", params: { id: id } });
    }
  },

  mounted() {
    this.fetchRandomPlanets(9);
  }
};
</script>

<style scoped></style>