<template>
  <v-container>
    <v-row align="center" justify="center">
      <v-col
        cols="12"
        md="3"
        v-for="(value, i) in values"
        :key="i"
        class="output accent"
      >
        {{ value }}
      </v-col>
    </v-row>
    <v-row align="center" justify="center">
      <v-btn
        @click="startSlots"
        color="primary"
        elevation="2"
        large
        x-large
        :disabled="disabled"
      >
        {{ text }}
      </v-btn>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "Slots",

  data: () => ({
    tries: 0,
    text: "SPIN",
    disabled: false,
    values: ["🔥", "🔥", "🔥"],
    possibilities: [
      "🌞",
      "🔥",
      "💧",
      "🌋",
      "🌌",
      "🌠",
      "❄️",
      "🌨️",
      "🌪️",
      "🌀",
      "🌊",
      "💀",
      "💨",
      "✨",
      "⚡",
      "🌫️",
      "⛈️",
      "☁️"
    ]
  }),

  methods: {
    startSlots() {
      this.tries++;
      let counter = 0;
      const values_length = this.values.length;
      const possibilities_length = this.possibilities.length;

      let interval = setInterval(
        function(view) {
          view.values.splice(0, values_length);
          for (let i = 0; i < values_length; i++) {
            view.values.push(
              view.possibilities[
                Math.floor(Math.random() * possibilities_length)
              ]
            );
          }
          counter++;
          if (counter >= 100) {
            clearInterval(interval);
            if (view.tries > 4) {
              view.values.splice(0, values_length);
              view.values = ["💧", "🦠️", "☁️"];

              view.disabled = true;
              view.$emit("slotsvalidation", true);
              view.text = "YOU WON !";
            }
          }
        },
        10,
        this
      );
    }
  }
};
</script>

<style scoped>
.output {
  text-align: center;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  font-size: 80px;
  width: 150px;
  float: left;
}
</style>