<template>
  <v-card class="mb-12 mt-5 mx-4" elevation="0">
    <v-card-title class="text-h3 mb-2">Fuel up</v-card-title>
    <v-card-subtitle
      >We guarantee that your planet will orbit around a great source of energy
      !</v-card-subtitle
    >
    <v-row align="center" justify="center" class="mt-5">
      <div class="text-h1">🌞</div>
    </v-row>
    <v-row align="center" justify="center" class="mt-5">
      <div class="text-subtitle-1">
        Fact : photons are a really great vector of energy throughout the
        Universe !
      </div>
    </v-row>
  </v-card>
</template>

<script>
export default {
  name: "StepSun"
};
</script>

<style scoped>
</style>