<template>
  <v-card class="mb-12 mt-5 mx-4" elevation="0">
    <v-card-title class="text-h3 mb-2">E-mail</v-card-title>
    <v-card-subtitle
      >Become the proud guardian of a unique planet !</v-card-subtitle
    >
    <v-form v-model="valid">
      <v-container>
        <v-row>
          <v-col cols="12" md="4">
            <v-text-field
              @keypress="resetSatusMessages"
              @keydown.prevent.enter=""
              v-model="email"
              :rules="emailRules"
              :error-messages="emailError"
              :success-messages="emailSuccess"
              label="E-mail"
              required
            ></v-text-field>
          </v-col>

          <v-col cols="12" md="4">
            <v-btn
              :disabled="!valid"
              :loading="loading"
              color="success"
              @click="validate"
              class="mt-4"
            >
              Validate
            </v-btn>
          </v-col>
        </v-row>
      </v-container>
    </v-form>
  </v-card>
</template>

<script>
import axios from "axios";

export default {
  name: "StepEmail",

  data: () => ({
    valid: false,
    emailError: "",
    emailSuccess: "",
    loading: false,
    email: "",
    emailRules: [
      v => !!v || "E-mail is required",
      v => {
        const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return pattern.test(v) || "Invalid E-mail";
      }
    ]
  }),

  methods: {
    resetSatusMessages() {
      this.emailError = "";
      this.emailSuccess = "";
    },
    validate() {
      this.loading = true;

      axios
        .get(
          process.env.VUE_APP_API_URL +
            "session/planet/email?email=" +
            this.email
        )
        .then(() => {
          this.emailSuccess = "Perfect";
          this.$emit("emailvalidation", true);
          this.$emit("emailaddress", this.email);
          this.loading = false;
        })
        .catch(() => {
          this.emailError = "You can only have one planet 😢";
          this.$emit("emailvalidation", false);
          this.loading = false;
        });
    }
  }
};
</script>

<style scoped>
</style>