<template>
  <v-card class="mb-12 mt-5 mx-4" elevation="0">
    <v-card-title class="text-h3 mb-2">Redeem your planet !</v-card-title>
    <v-card-subtitle
      >Once redeemed, it should teleport in your mailbox in a few seconds 🌌
    </v-card-subtitle>

    <v-container>
      <v-form v-model="valid">
        <v-row align="center" justify="center" class="mt-5">
          <div class="text-h1">✨</div>
        </v-row>
        <v-row align="center" justify="center" class="mt-5">
          <div class="text-h6">
            Give it a name :
          </div>
        </v-row>
        <v-row align="center" justify="center">
          <v-col cols="12" md="4">
            <v-text-field
              v-model="planetName"
              @keydown.prevent.enter=""
              :rules="rules"
              counter="25"
              hint="Make it memorable 🪐"
              label="Be creative !"
              required
              clearable
            ></v-text-field>
          </v-col>
        </v-row>

        <v-row align="center" justify="center">
          <v-btn
            :disabled="!valid"
            :loading="loading"
            color="success"
            @click="validate"
            class="mt-4"
          >
            Redeem
          </v-btn>
        </v-row>
      </v-form>
    </v-container>

    <v-snackbar v-model="snackbar" :timeout="2500">
      {{ snacktext }}

      <template v-slot:action="{ attrs }">
        <v-btn color="blue" text v-bind="attrs" @click="snackbar = false">
          Close
        </v-btn>
      </template>
    </v-snackbar>
  </v-card>
</template>

<script>
import axios from "axios";

export default {
  name: "StepClaim",
  props: {
    email: {
      type: String,
      default: ""
    }
  },
  data: () => ({
    snackbar: false,
    snacktext: "",
    loading: false,
    valid: false,
    planetName: "",
    rules: [
      v => v.length <= 25 || "Max 25 characters",
      v => v.length > 4 || "Min 5 characters"
    ]
  }),

  methods: {
    validate() {
      this.loading = true;

      axios
        .post(process.env.VUE_APP_API_URL + "session/planet", {
          email: this.email,
          name: this.planetName
        })
        .then(() => {
          this.snacktext = "Your planet has been sent !";
          this.snackbar = true;
          this.loading = false;
        })
        .catch(() => {
          this.snacktext =
            "There has been an error with your e-mail address :/";
          this.snackbar = true;
          this.loading = false;
        });
    }
  }
};
</script>

<style scoped>
</style>