<template>
  <v-card class="mb-12 mt-5 mx-4" elevation="0">
    <v-card-title class="text-h3 mb-2"
      >Will your planet have life ?</v-card-title
    >
    <v-card-subtitle
      >Apparition of life is probably the toughest lottery in the Universe
      !</v-card-subtitle
    >

    <v-row align="center" justify="center">
      <Slots @slotsvalidation="validate" />
    </v-row>
  </v-card>
</template>

<script>
import Slots from "@/components/Slots";

export default {
  name: "StepLife",
  components: { Slots },

  methods: {
    validate(boolean) {
      this.$emit("lifevalidation", boolean);
    }
  }
};
</script>

<style scoped>
</style>