<template>
  <v-card class="mb-12 mt-5 mx-4" elevation="5">
    <v-card-title>A planet is basically a bunch of bunches</v-card-title>
    <v-card-subtitle
      >Hope for collisions, fusions and impacts, and you might end up with a
      nice sphere !</v-card-subtitle
    >
    <v-card-text>
      <h1>Watch it happen live ! [LIVE 🔴]</h1>
      <p>🧱🧱🧱✨🧱🧱✨🧱🧱🧱🧱🧱🎇🧱🧱✨</p>
    </v-card-text>

    <v-container v-show="skippable">
      <v-row>
        <v-col cols="12" md="4">
          <v-btn color="primary" @click="skip" class="mt-4">
            Skip
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
  </v-card>
</template>

<script>
export default {
  name: "StepPlanet",

  data: () => ({
    skippable: true
  }),

  methods: {
    skip() {
      this.$emit("planetvalidation", true);
    }
  }
};
</script>

<style scoped>
</style>