<template>
  <svg width="500" height="500">
    <polygon :points="(x + width / 2) + ',' + (y - height * 2) + ' ' + (x - width * 2) + ',' + y + ' ' + (x + width * 3) + ','
     + y" fill="green" :transform="'rotate(' + angle + ' ' + x + ' ' + y + ')'"/>
    <rect :x="x" :y="y" :width="width" :height="height" fill="brown" :transform="'rotate(' + angle + ' ' + x + ' ' + y + ')'"/>
  </svg>
</template>

<script>
export default {
  name: "Tree",
  props: {
    x: Number,
    y: Number,
    width: Number,
    height: Number,
    angle: Number
  }
};
</script>