<template>
  <v-app>
    <v-app-bar app>
      <router-link to="/">
        <h1 class="app-title">Space Pebble</h1>
      </router-link>
      <v-row align="center" justify="end" class="mr-1">
        <router-link to="/about"><h3 class="app-title">About</h3></router-link>
      </v-row>
    </v-app-bar>
    <!-- Sizes your content based upon application components -->
    <v-main>
      <!-- Provides the application the proper gutter -->
      <v-container fluid>
        <router-view></router-view>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
export default {
  name: "App"
};
</script>

<style>
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

a {
  text-decoration: none;
}

.app-title {
  font-family: "Fredoka One", cursive;
}
</style>